<!DOCTYPE html>
<html>
  <body style="font-family: Arial; padding: 20px">
    <h2 style="color: blue">Xin chào <%= name %></h2>

    <p>Bạn vừa đăng nhập hệ thống.</p>

    <p>
      Thời gian:
      <strong><%= time %></strong>
    </p>
  </body>
</html>
